link(rel="shortcut icon" type="image/x-icon" href="assets/images/fav.png")
link(rel="stylesheet" href="assets/css/plugins/fontawesome-5.css")
link(rel="stylesheet" href="assets/css/plugins/unicons.css")
link(rel="stylesheet" href="assets/css/plugins/fancybox.min.css")
link(rel="stylesheet" href="assets/css/plugins/metismenu.css")
link(rel="stylesheet" href="assets/css/vendor/bootstrap.min.css")
link(rel="stylesheet" href="assets/css/plugins/hover-revel.css")
link(rel="stylesheet" href="assets/css/plugins/animate.min.css")
link(rel="stylesheet" href="assets/css/style.css")