// footer area start
.rts-footer-area-four.rts-section-gapTop.pb--100.pv_md--60.pb_sm--60.footer-four-bg
    .container
        .row
            .col-lg-4
                .footer-one-left.four
                    a.logo(href="#")
                        img(src="assets/images/logo/gvr-trans-logo.png", alt="Logo_image", data-sal-delay="150", data-sal="slide-up", data-sal-duration="800", width="150")
                    .contact-area
                        span Quick Contact
                        a.call(href="mailto:vijay@gvrgroups.com") +91-9840379299
                    ul.social-area
                        li(data-sal-delay="150", data-sal="slide-up", data-sal-duration="800")
                            a(href="#")
                                i.fab.fa-facebook-f
                        li(data-sal-delay="250", data-sal="slide-up", data-sal-duration="800")
                            a(href="#")
                                i.fab.fa-twitter
                        li(data-sal-delay="350", data-sal="slide-up", data-sal-duration="800")
                            a(href="#")
                                i.fab.fa-linkedin-in
                        li(data-sal-delay="450", data-sal="slide-up", data-sal-duration="800")
                            a(href="#")
                                i.fab.fa-skype
            .col-lg-8
                .footer-right-one.four
                    .single-wized-footer
                        h5.title-heading(data-sal-delay="150", data-sal="slide-up", data-sal-duration="800") Useful Links
                        ul.list
                            li(data-sal-delay="150", data-sal="slide-up", data-sal-duration="800")
                                a(href="service-details.html") About Us
                            li(data-sal-delay="250", data-sal="slide-up", data-sal-duration="800")
                                a(href="service-details.html") What We Do
                            li(data-sal-delay="350", data-sal="slide-up", data-sal-duration="800")
                                a(href="service-details.html") Our Team
                            li(data-sal-delay="450", data-sal="slide-up", data-sal-duration="800")
                                a(href="service-details.html") Contact Us
                            li(data-sal-delay="550", data-sal="slide-up", data-sal-duration="800")
                                a(href="service-details.html") Services
                    .single-wized-footer
                        h5.title-heading(data-sal-delay="150", data-sal="slide-up", data-sal-duration="800") Services
                        ul.list
                            li(data-sal-delay="150", data-sal="slide-up", data-sal-duration="800")
                                a(href="blog-list.html") Wesite Design
                            li(data-sal-delay="250", data-sal="slide-up", data-sal-duration="800")
                                a(href="portfolio.html") Product Development
                            li(data-sal-delay="350", data-sal="slide-up", data-sal-duration="800")
                                a(href="portfolio.html") Businss Solution
                            li(data-sal-delay="450", data-sal="slide-up", data-sal-duration="800")
                                a(href="team.html") Brand Making
                            li(data-sal-delay="450", data-sal="slide-up", data-sal-duration="800")
                                a(href="team.html") Flim Studio
                    .single-wized-footer
                        h5.title-heading(data-sal-delay="150", data-sal="slide-up", data-sal-duration="800") Quick Links
                        ul.list
                            li(data-sal-delay="150", data-sal="slide-up", data-sal-duration="800")
                                a(href="contactus.html") Privacy & Policy
                            li(data-sal-delay="250", data-sal="slide-up", data-sal-duration="800")
                                a(href="#") Our Solution
                            li(data-sal-delay="350", data-sal="slide-up", data-sal-duration="800")
                                a(href="#") Brand Open

// rts-copyright-area
.rts-copyright-area.footer-four.ptb--30.ptb_sm--15
    .container
        .row
            .col-12
                .copyu-right-wrapper
                    .left.single
                        span © 2025 GVR Groups. All Rights Reserved

// modal-sidebar-scroll
.modal-sidebar-scroll.rts-dark-light
    ul
        li
            span Dark
            i.rts-go-dark.fal.fa-moon
        li
            span Light
            i.rts-go-light.far.fa-sun

// loader-wrapper
.loader-wrapper
    .loader
    .loader-section.section-left
    .loader-section.section-right

// scroll progress
.progress-wrap
    svg.progress-circle.svg-content(width="100%", height="100%", viewBox="-1 -1 102 102")
        path(d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98", style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;")

