#side-bar.side-bar
  button.close-icon-menu
    i.far.fa-times
  .rts-sidebar-menu-desktop
    a.logo-1(href="index.html")
      img.logo(src="assets/images/logo/gvr-trans-logo.png" alt="GVR Logo")
    a.logo-2(href="index.html")
      img.logo(src="assets/images/logo/gvr-trans-logo.png" alt="GVR Logo")
    .body.d-none.d-xl-block
      p.disc.text-center(style="font-weight: 900; font-size: small; padding-bottom: 0px;")
        | Think Smart Automation Solutions
        br
        | Think GVR Groups
    .get-in-touch
      .wrapper
        .single
          i.fas.fa-envelope
          a(href="#")
            b Chennai
          div(style="font-size: smaller;")
            | +91-9840379299
            br
            | #15/7A, Devagiammal Street, Shenoy Nagar, Aminijikarai -600030
            br
            | #60, Rajiv Gandhi Salai, OMR, Karapakkam, Chennai - 600097
        .single
          i.fas.fa-envelope
          a(href="#")
            b Coimbatore
          div(style="font-size: smaller;")
            | +91-8754440984
            br
            | #16/33, Chinnammal street, Saibaba Colony, K.K.Pudur - 641038
        .single
          i.fas.fa-envelope
          a(href="#") eht@gvrgroups.com