script(src="assets/js/vendor/jquery.min.js")
script(src="assets/js/vendor/jqueryui.js")
script(src="assets/js/vendor/waypoint.js")
script(src="assets/js/plugins/counterup.js")
script(src="assets/js/plugins/sal.min.js")
script(src="assets/js/plugins/fancybox.js")
script(src="assets/js/plugins/metismenu.js")
script(src="assets/js/plugins/marquery.js")
script(src="assets/js/vendor/bootstrap.min.js")
script(src="assets/js/vendor/waw.js")
script(src="assets/js/plugins/hover-revel.js")
script(src="assets/js/plugins/twinmax.js")
script(src="assets/js/plugins/contact.form.js")
script(src="assets/js/gvr/landing-animation.js")
script(src="assets/js/main.js")