- var allProjects = []
- allProjects.push({ img: '01.jpg', title: 'Growth Business Check' })
- allProjects.push({ img: '02.jpg', title: 'Business Cow Check' })
- allProjects.push({ img: '03.jpg', title: 'Habitaed Growth Check' })
- allProjects.push({ img: '04.jpg', title: 'Pronounc Growth Check' })
- allProjects.push({ img: '05.jpg', title: 'Taimtom Growth Check' })
- allProjects.push({ img: '06.jpg', title: 'Mangrowth Growth Check' })
- allProjects.push({ img: '07.jpg', title: 'Tarminal Growth Check' })
- allProjects.push({ img: '08.jpg', title: 'Bandis Growth Check' })
- allProjects.push({ img: '09.jpg', title: 'Potintial Growth Check' })

- var businessProjects = []
- businessProjects.push({ img: '06.jpg', title: 'Business Growth Check' })
- businessProjects.push({ img: '05.jpg', title: 'Habitaed Growth Check' })
- businessProjects.push({ img: '04.jpg', title: 'Mangrowth Growth Check' })
- businessProjects.push({ img: '03.jpg', title: 'Bandis Growth Check' })
- businessProjects.push({ img: '02.jpg', title: 'Tarminal Growth Check' })
- businessProjects.push({ img: '01.jpg', title: 'Pronounce Growth Check' })

- var solutionProjects = []
- solutionProjects.push({ img: '01.jpg', title: 'Habitaed Growth Check' })
- solutionProjects.push({ img: '02.jpg', title: 'Taimtom Growth Check' })
- solutionProjects.push({ img: '03.jpg', title: 'Tarminal Growth Check' })
- solutionProjects.push({ img: '04.jpg', title: 'Mangrowth Growth Check' })
- solutionProjects.push({ img: '05.jpg', title: 'Potential Growth Check' })
- solutionProjects.push({ img: '06.jpg', title: 'Bandis Growth Check' })

- var marketingProjects1 = []
- marketingProjects1.push({ img: '06.jpg', title: 'Business Growth Check' })
- marketingProjects1.push({ img: '05.jpg', title: 'Habitaed Growth Check' })
- marketingProjects1.push({ img: '04.jpg', title: 'Mangrowth Growth Check' })
- marketingProjects1.push({ img: '03.jpg', title: 'Pronounce Growth Check' })
- marketingProjects1.push({ img: '02.jpg', title: 'Tarminal Growth Check' })
- marketingProjects1.push({ img: '01.jpg', title: 'Bandis Growth Check' })

- var marketingProjects2 = []
- marketingProjects2.push({ img: '01.jpg', title: 'Tarminal Growth Check' })
- marketingProjects2.push({ img: '02.jpg', title: 'Potential Growth Check' })
- marketingProjects2.push({ img: '03.jpg', title: 'Taimtom Growth Check' })
- marketingProjects2.push({ img: '04.jpg', title: 'Business Growth Check' })
- marketingProjects2.push({ img: '05.jpg', title: 'Mangrowth Growth Check' })
- marketingProjects2.push({ img: '06.jpg', title: 'Habitaed Growth Check' })

- var memberList = []
- memberList.push({ img: '14.jpg', subtitle: 'Html Expart', title: 'Alamin Orko' })
- memberList.push({ img: '15.jpg', subtitle: 'Developer', title: 'Mark Dianmark' })
- memberList.push({ img: '16.jpg', subtitle: 'UI/UX Designer', title: 'Jone Favinho' })
- memberList.push({ img: '17.jpg', subtitle: 'Motion Designer', title: 'Mokka Soriars' })
- memberList.push({ img: '18.jpg', subtitle: 'UI/UX Designer', title: 'Sowat ahasan' })
- memberList.push({ img: '19.jpg', subtitle: 'HTML Expart', title: 'Alamin Orko' })

- var blogList = []
- blogList.push({ img: '07.jpg', title: 'Expart practices that will help<br>you get better every day' })
- blogList.push({ img: '08.jpg', title: 'Simple practices that will help<br>you get better every day' })